<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="wileytask">
        <classes>
            <class name="com.wiley.wileytest.MainTest">
                <!--<methods>
                    <include name="testNavigationLinks"/>
                </methods>-->
            </class>
        </classes>
    </test> <!-- first-project -->
</suite> <!-- Default Suite -->
